
.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
}

.Home form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 350px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.Home form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.Home form input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.Home form label button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}