.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardActive {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.card button{
  border: 1px solid #eaeaea;
  border-radius: 7px;
  height: 35px;
  cursor: pointer;
}

.buttonActive{
  background-color: #f32400;
  color: white;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  width: fit-content;
}

.cart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart h2{
  margin: 0;
  font-size: 1.2rem;
}

.formContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.formContainer button{
  border: 1px solid #eaeaea;
  border-radius: 7px;
  height: 45px;
  cursor: pointer;
}
